@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

body {
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Tiny5", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 1px 1px 2px #fff;
  overflow: hidden;
  
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  /* font-size: 120px; */
  font-size: clamp(64px, 10vw, 120px);
  
}

.sub-title {
  font-size: clamp(24px, 5vw, 48px);
}

.footer {
  padding: 25px 0;
  text-align: center;
  font-size: 24px;
  font-size: clamp(16px, 5vw, 24px);
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
}

@keyframes blink {
  0%, 100% {opacity: 0.8;}
  50% {opacity: 0;}
}